<!-- inicio.component.html -->

<header class="container-fluid">
  <div>
      <div class="row d-flex align-items-center text-center verdeEscuro">
          <div class="col-4"></div><!--Para futuras adições-->

          <div class="col-4">
              <img class="circulo" src="assets/images/docvet.png" width="40px">
          </div>
          <div class="col-4">
              <a routerLink="/gerenciarcadastros">
                  <button class="me-5 btn btn-light">Administrativo</button>
              </a>
              <a routerLink="/login">
                  <button class="btn btn-light">Login</button>
              </a>
          </div>
      </div>
  </div>
</header>

<div>
  <h1 class="text-center fs-1 mt-5">DocVet</h1>
</div>

<br>
<br>

<div class="container">
  <div class="row d-flex align-items-center text-center">
      <div class="col">
          <div class="row">
              <h5 class="fs-1">Uma vida mais longa e saudável para o seu filho de 4 patas</h5>
          </div>
          <div class="row">
              <p class="fs-4">Aqui você pode encontrar os melhores veterinários e planos de saúde para o seu pet</p>
          </div>
          <div>
              <a routerLink="/pesquisaveterinario">
                  <button class="btn btn-lg btn-verde mb-4 mt-2 fs-2" type="button">Proteger meu Pet</button>
              </a>
          </div>
      </div>

      <div class="col-sm-1"></div>

      <div class="col">
          <img src="/assets/images/medico-veterinario-rotina-pet-convenio-veterinario-comvet.jpg" width="700px">
      </div>

      <div><!--Apenas para telas com resolução menores / Pode ser retirado depois de adicionado um rodapé-->
          <br>
      </div>
  </div>
</div>
