<!-- <div>
    <a routerLink="/">
      <button class="me-5 btn btn-light">Login</button>
    </a> |
    <a routerLink="/inicio">
      <button class="me-5 btn btn-light">Inicio</button>
    </a> |
    <a routerLink="/perfil">
      <button class="me-5 btn btn-light">Perfil</button>
    </a> |
    <a routerLink="/gerenciarcadastros">
      <button class="me-5 btn btn-light">Gerenciar Cadastros</button>
    </a> |
    <a routerLink="/cadastrovacina">
      <button class="me-5 btn btn-light">Cadastro Vacina</button>
    </a> |
    <a routerLink="/cadastrodonopet">
      <button class="me-5 btn btn-light">Cadastro Dono de Pet</button>
    </a> |
    <a routerLink="/cadastroveterinario">
      <button class="me-5 btn btn-light">Cadastro Veterinário</button>
    </a> | br
    <a routerLink="/pesquisaveterinario">
      <button class="me-5 btn btn-light">Pesquisa Veterinário</button>
    </a>
  </div> -->
  <div>
    <router-outlet></router-outlet>
  </div>

