* {
  padding: 0;
 margin: 0;
 box-sizing: border-box;
 color: #ffffff;
}
.geral{
  box-sizing: border-box;
  justify-content: center;
  display: flex;
}
.geral__1{
  width: 50%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
.body {
 width: 100%;
 height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #07d9b2;
}

.container {
 width: 80%;
 height: 100vh;
 display: flex;
 box-shadow: 5px 5px 10px rgba(0, 0, 0, .212);
}

.form-image {
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: #ffffff;
 padding: 1rem;
}

.form-image img {
 width: 40rem;
 height: 44rem;
}

.form {
 width: 50%;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 background-color: #186053;
 padding: 3rem;
}

.form-header {
 display: flex;
 justify-content: center;
 flex-direction: column;
 flex-wrap: nowrap;
 align-content: stretch;
 align-items: center;
}

.form-header h1::after {
 /*linha de baixo do titulo*/
 content: '';
 display: block;
 width: 2rem;
 height: 0.3rem;
 background-color: #ffffff;
 margin: 0 auto;
 position: absolute;
 border-radius: 10px;
}

.input-group {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 1rem 0;
 width: 30rem;
}

.input-box {
 display: flex;
 flex-direction: column;
 height: 1rem;
 padding: 2rem;
 font-family: 'arial';
}

.input-boxx {
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 align-content: center;
 flex-wrap: wrap;
 padding: 0.5rem 0;


}


.input-boxx input[type="checkbox"] {
 margin-left: 16px;
}
.input-boxx {
 margin-right: 0.5rem;
 font-weight: bold;
 font-family: 'arial';
 font-size: small;

}

.input-boxx{
 display: flex;
 flex-direction: row;
}

.input-box input {
 padding: 0.4rem;
 border: none;
 border-radius: 5px;
 box-shadow: 1px 1px 6px #00001c;
}

.input-box input:hover {
 background-color: #07d9b2;
}

.input-box input:focus-visible {
 outline: 1px solid #186053;
}

.input-box label {
 font-size: 1rem;
 font-weight: 600;
}

.input-box input::placeholder {
 color: #00001c;
}

.title {
 margin-top: 1rem;
}

.bv {
 color: #00001c;
 position: absolute;
 margin-top: 20rem;
}

input {
 color: #00001c
}

.circulo {
 width: 100px;
 height: 100px;
 border-radius: 50%;
 background-color: #f8eded;
 overflow: hidden;
 position: relative;
 margin: 0 auto;
 top: 10px;
 margin-bottom: 10px;
}

.cadastre-botton button {
 width: 100%;
 height: 40px;
 margin-top: 1rem;
 border: none;
 background-color: #ffffff;
 padding: 1;
 border-radius: 5px;
 cursor: pointer;
 color: #000000;
}

.cadastre-botton button:hover {
 background-color: #07d9b2;
 color: #00001c;
}

.cadastre-botton button a {
 text-decoration: none;
 font-size: 1rem;
 font-weight: 500;
 color: rgb(0, 0, 0);
}

.login-button {
 display: flex;
 align-items: center;
}

.login-button button {
 border: none;
 background-color: #ffffff;
 padding: 0.4rem 1rem;
 border-radius: 5px;
 cursor: pointer;
 margin-top: 20px;
}

.login-button button:hover {
 /*hover e quando o mouse estiver em cima*/
 background-color: #07d9b2;
 color: #000000;
}

.login-button button a {
 text-decoration: none;
 font-weight: 500;
 color: rgb(0, 0, 0);
}

.span-required {
 font-size: 13px;
 font-weight: 500;
 color: rgb(255, 0, 0);
 margin-top: 0.5rem;
}
#estado {
 color: black; /* Define a cor do texto como preto */
}

.form-select {
 color: black; /* Define a cor do texto como preto */
}

.custom-select {
 color: black; /* Define a cor do texto como preto */
}

select,
option {
 color: black; /* Define a cor do texto como preto */
}
@media screen and (max-width:1628px) {
 .form-image {
     display: none;
     width: 50%;
 }
 .container {
     width: 50%;
 }
 .form {
     width: 100%
 }
}

@media screen and (max-width:1064px) {
 .container {
     width: 90%;
     height: auto;
 }
 .input-group {
     flex-direction: column;
     overflow-y: scroll;
     flex-direction: column;
     max-height: 10rem;
     padding-right: 5rem;
 }
}
